<div class="container mt-4">
  <h3>Search Results for "{{ keyword }}"</h3>

  <div *ngIf="products.length === 0" class="text-muted mt-3">
    No products found.
  </div>

  <div class="row mt-3">
    <div class="col-md-3 mb-4" *ngFor="let product of products">
      <div class="card h-100">
        <img [src]="product.imageUrl" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p><strong>₹{{ product.price }}</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
