<div class="container py-4">
  <h3>Manage Orders</h3>

  <table class="table table-bordered table-striped" *ngIf="orders.length">
    <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Product</th>
        <th>Qty</th>
        <th>Total</th>
        <th>Status</th>
        <th>Change</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of orders">
        <td>{{ o.id }}</td>
        <td>{{ o.userId }}</td>
        <td>{{ o.productId }}</td>
        <td>{{ o.quantity }}</td>
        <td>{{ o.totalPrice }}</td>
        <td>{{ o.status }}</td>
       <td>
  <select [(ngModel)]="o.status" (change)="changeStatus(o, o.status)">
    <option value="PENDING">Pending</option>
    <option value="SHIPPED">Shipped</option>
    <option value="DELIVERED">Delivered</option>
  </select>
</td>
      </tr>
    </tbody>
  </table>
</div>
