<!-- <div *ngIf="auth.isLoggedIn() && showWelcome" class="welcome-banner shadow-sm">
  <div class="wb-left">
    <img
      class="wb-gif"
      src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif"
      alt="wave"
      loading="lazy" />
  </div>

  <div class="wb-text">
    <div class="wb-title">Welcome, <span class="wb-name">{{ displayName }}</span> ✨</div>
    <div class="wb-sub">So glad you’re here — check today’s picks or browse categories below.</div>
  </div>

  <button class="wb-close" (click)="dismissWelcome()" aria-label="Close welcome">✕</button>
</div> -->

<div class="container-hero text-center">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="display-4 fw-bold">Explore a wide range of products for every need</h1>
      <!-- <p class="lead text-muted">Trusted sellers • Secure checkout • Fast delivery</p> -->
      <a routerLink="/products" class="btn btn-brand btn-lg me-2">Browse Categories</a>
      <!-- show Create Account button only if NOT logged in -->
      <a *ngIf="!auth.isLoggedIn()" 
         routerLink="/register" 
         class="btn btn-ghost btn-lg">Create account</a>
    </div>
  </div>



  <!-- quick category preview -->
  <div class="mt-5">
    <!-- <h4 class="mb-3">Browse by category</h4> -->
    <div class="row">
      <div class="col-sm-6 col-md-3 mb-3" *ngFor="let c of categories">
        <a class="card h-100 d-block text-decoration-none text-dark"
           [routerLink]="['/products']"
           [queryParams]="{ category: c.name }">
          <img [src]="c.img" class="card-img-top" style="height:500px; object-fit:cover;">
          <div class="card-body">
            <h6 class="card-title mb-0">{{c.name}}</h6>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
